In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
import matplotlib.pyplot as plt
from matplotlib.pyplot import imshow
plt.rcParams["figure.figsize"] = 10, 8
plt.rcParams["font.size"     ] = 14

In [2]:
import os
import sys
import glob
import time
import warnings
import datetime 
print("Last updated on ", time.asctime())

Last updated on  Sat Mar 21 20:40:26 2020

In [3]:
import numpy as np
import pandas as pd
import matplotlib

In [4]:
fontsize=20
font = {'family': 'serif',
        'color':  'black',
        'weight': 'bold',
        'size': fontsize,
        }

plt.rcParams["font.size"     ] = fontsize

In [5]:
from scipy.integrate import odeint
import scipy.integrate as spi
from scipy.interpolate import interp1d
from dataclasses import dataclass, field

In [6]:
path='/Users/jjgomezcadenas/Projects/Development/C19/data'
file = os.path.join(path,'COVID-19-Spain-2020-03-21.xlsx')
print(file)
df = pd.read_excel(file) 
df.head()

/Users/jjgomezcadenas/Projects/Development/C19/data/COVID-19-Spain-2020-03-21.xlsx

   Day  Month  Year  Cases  Deaths Countries and territories  GeoId
0   21      3  2020   2833     235                     Spain    NaN
1   20      3  2020   3431     169                     Spain    NaN
2   19      3  2020   2538     107                     Spain    NaN
3   18      3  2020   1987     182                     Spain    NaN
4   17      3  2020   1438      21                     Spain    NaN